body{
    min-height: 100vh;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
}

.box1{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 0;
    transition: 
        transform 2s ease,
        background-color 2s ease,
        border-radius 2s ease;
}

.box1:hover{
    transform: translateX(400px) rotate(360deg);
    background-color: yellow;              
    border-radius: 50%;                         
}
